.thanks{
    margin-top: 40px;  

    p{
        padding: 10px 20px;
    }
}

.form_thank{
    padding: 0 30px;
    margin-top: 20px;
    .textVisitor{
        width: 100%;
        min-height: 300px;
        padding: 10px;
        font-family: 'Montserrat';
        font-size: 16px;
        resize: vertical;
    }
}

//FUNDING
.participate{
    padding: 0 30px;
}