//FORGOT PASSWORD
h2{
    text-align: center;
    background-color:lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}
.forgotPassword{
    flex-grow: 1;
    display: flex;
    align-items: center;
    .forgot{
        width: 100%;
        padding: 0 40px;
    }    
}