.home{
    flex-grow:1;
    

    .banner{
        height: 200px;
    }

    .img_welcome{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}


//RESPONSIVE
@media(max-width: 450px){
    .home{
        
    }

    
}