.home{
    flex-grow:1;

    .banner{
        height: 200px;
    }

    .img_welcome{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    p{
        padding: 0 15px;
        margin-top: 30px;
    }

    .list_item{
        margin-left:70px;
        margin-top:10px;
    }
}