.errors{
    .error{
        padding: 7px;
        text-align: center;
        border-radius: 4px;
        color:white;
        &.danger{
            background-color: red;
        }
    
        &.success{
            background-color: green;
        }
    }

}