@import 'variables';
@import 'reset';
@import 'profile/settings';
@import 'profile/login-register';
@import 'profile/profile';
@import 'menu';
@import 'menu';
@import 'offers/offers';
@import 'footer';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//Style général
body, head {
    font-family: "Montserrat";
}

body{
    max-width: 1600px;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
