.login, .register{
    margin:0;
    width: 35vh;
    margin-left: auto;
    margin-right: auto;

    flex-grow: 1;
    padding-top: 20vh;
    div{
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .input{
        padding: 4px 4px 4px 4px;
        font-size:1em;
    }
}

.label{
    margin-bottom: 0;

    &_passwordLost, &_alreadyRegister{
        font-size:0.8em;
    }
}

.input{
    width: 100%;
}

.button{
	padding:6px 0 6px 0;
	background:$primary-color;
	color:#fff;
	border-radius:2px;
    border:none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;

    &_login{
        width:5em;
        font-size: 0.9em;
    }

    &:hover{
        background-color:$button-hover-color;
    }
}