
//ACCOUNT
.accountInformations{
    background-color:rgb(196, 196, 196);
    height: 10vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    .accountInformations{
        display: flex;
        flex-direction: row;

        .accountLabel{
            display: flex;
            width: 75%;
            .label{
                margin-right: 10%;
                margin-left: 1%;
                font-size: 1em;
                margin-top: 0;
            }
        }

        .accountSettings{
            display: flex;
            justify-content: flex-end;
            width: 25%;
            height: 50%;
            align-items: center;

            .imageSettings{
                width: 5%;
                height: auto;
            }

            .label_settings{
                margin-left: 1%;
                margin-top: 0;
                margin-right: 5%;
                text-decoration: none;
                color:black;
            }
        }
    }

    h1{
        font-size: 1.4em;
        margin: 10px 5px 5px 1%;
    }
}

.mybox{
    margin-top: 2%;
    margin-left: 10%;
    align-items: center;
    display: flex;
    h1{
        font-size: 1.4em;
        margin: 10px 5px 5px 1%;
    }

    .imageMybox{
        margin-top: 10px;
        margin-left:1%;
        width: 3%;
        height: auto;
    }
     
    .fa-plus{
        color: $primary-color;
        margin-top:50%;
    }
}

.gridBox{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(4,1fr);
    flex-grow: 1;

    a{
        text-decoration: none;
    }

    .boxItem{
        position: relative;
        color:black;
        border: 2px solid black;

        .label_titreBox{
            margin-top: 10px;
            font-size: 1.4em;
            margin-left:5%;
        }

        .label_prixBox{
            font-size: 1em;
            margin-left: auto;
            margin-right: 30%;
            margin-top:50px;
            margin-bottom: 2%;
        }

        .box_price{
            display: flex;
        }

        .delete{
            position: absolute;
            font-size: 1em;
            top: 0;
            right: 0;
            border: 2px solid rgb(120, 0, 0);
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bolder;
            transform: translateY(-40%) translateX(40%);
            z-index: 890;
            background-color: red;
        }
    }
}