{% extends "layouts/master.twig" %}

{% block content %}

<div class='create_box'>
    <h1>Créer une box</h1>

    <form class='create_box_form' method='POST'>
        <div class='form_group'>
            <label for='title' class='label'>Titre</label>
            <input type='text' name='title' class='input input_title'>
        </div>

        <div class='form_group'>
            <label for='date' class='label'>Date</label>
            <input type='date' name='date' class='input input_date' id='inputdate'>
        </div>

        <div class='form_group'>
            <label for='funding' class='label'>Cagnotte</p>
            <input type='checkbox' name='funding' class='input'>
        </div>
        <button type='submit' class='button buttonCreateBox'>Créer</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
    <script src='{{ siteUrl('assets/scripts/dateinput.js')}}'></script>
{% endblock %}