{% extends "layouts/master.twig" %}

{% block content %}

<div class='create_box'>
    <h1 class='title title_1 title--bg'>Créer une box</h1>

    <form class='create_box_form' method='POST'>
        <div class='form_group'>
            <label for='title' class='label'>Titre</label>
            <input type='text' name='title'>
        </div>

        <div class='form_group'>
            <label for='date' class='label'>Date</label>
            <input type='date' name='date' id='inputdate'>
        </div>

        <div class='form_group'>
            <label for='funding' class='label'>Cagnotte</label>
            <input type='checkbox' name='funding'>
        </div>
        <div class='buttonLayout buttonLayout--right'>
            <button type='submit' class='button button--green'>Créer</button>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
    <script src='{{ siteUrl('assets/scripts/dateinput.js')}}'></script>
{% endblock %}