{% extends "layouts/master.twig" %}

{% block content %}

    <h2>Récupération du mot de passe</h2>
    <form class="login" action='$urlForgot' method='post'>
        <p class='label label_email'>Email</p>
        <input type='email' name='email' class='input input_email'>
        <button type='submit' class='button button_login'>Récupération</button>
    </form>

{% endblock %}