{% extends "layouts/master.twig" %}

{% block content %}
    <div class='forgotPassword'>
        <h2>Récupération du mot de passe</h2>
        <form class="forgot" action='$urlForgot' method='post'>
            <label for='email' class='label'>Email</label>
            <input type='email' name='email' class='input'>
            <button type='submit' class='button button_login'>Récupération</button>
        </form>
    </div>
{% endblock %}