{% extends "layouts/master.twig" %}

{% block content %}
    <h2>Récupération du mot de passe</h2>
    <div class='forgotPassword'>
        <form class="forgot" action='$urlForgot' method='post'>
            <label for='email' class='label'>Email</label>
            <input type='email' name='email' class='input'>
            <div class='buttonLayout buttonLayout--right'>
                <button type='submit' class='button button--green'>Récupération</button>
            </div>
        </form>
    </div>
{% endblock %}