{% extends "layouts/master.twig" %}

{% block content %}
    <h1 class='title title_1 title--bg'>Se connecter</h1>
<div class='login'>

    <form class='login_form' method='POST'> 
        <div class='form_group'>
            <label for='email' class='label'>Email</label>
            <input type='email' name='email' class='input'>
        </div>

        <div class='form_group'>
            <label for='password' class='label'>Mot de passe</label>
            <input type='password' name='password' class='input'>
        </div>
        
        <div class='login_buttons'>
            <a href='{{ urls['forgot'] }}' class='label'>Mot de passe oublié ?</a>
            <button type='submit' class='button button--green'>Connexion</button>
        </div>
    </form>
</div>
{% endblock %}