{% extends "layouts/master.twig" %}

{% block content %}

    <form class='login' method='POST'> 
        <label for='email' class='label'>Email</label>
        <input type='email' name='email' class='input input_email'>

        <label for='password' class='label'>Mot de passe</label>
        <input type='password' name='password' class='input input_password'>
        
        <div class='login_buttons'>
            <a href='{{ urls['forgot'] }}' class='label label_passwordLost'>Mot de passe oublié ?</a>
            <button type='submit' class='button button--green'>Connexion</button>
        </div>
    </form>

{% endblock %}