{% extends "layouts/master.twig" %}

{% block content %}

    <form method="post" action="">
        <p class='label'>Titre</p>
        <input type='text' name='title' class='input'>
        <p class='label'>Description</p>
        <textarea name='description' placeholder=''></textarea>
        <p class='label'>Prix</p>
        <input type='number' min="0" value="0" name='price' class='input'>
        <select name='category_id'>   
        {% for category in categories %}
            <option value='{{category.id}}'>{{ category.title }}</option>
        {% endfor %}
        </select>
        <button type="submit">Valider</button>
    </form>

{% endblock %}