{% extends "layouts/master.twig" %}

{% block content %}
<div class='settings'>
    <div class='settings_password'>
        <h2 class='title title_2 title--bg'>Changer votre mot de passe</h2>

        <form method='POST'>
            <div class='form_group'>
                <input class='input' placeholder='Mot de passe actuel' type='password' name='password'>
            </div>
            <div class='form_group'>
                <input class='input' placeholder='Nouveau mot de passe' type='password' name='new_password'>
            </div>
            <div class='buttonLayout buttonLayout--right'>
                <button class='button button--green' type='submit'>Sauvegarder</button>
            </div>
        </form>
    </div>

    <div class='settings_delete'>
        <h2 class='title title_2 title--bg'>Supprimer votre compte</h2>

        <form method='post'>
            <div class='form_group'>
                <input class='input' placeholder='Mot de passe actuel' type='password' name='password'>
            </div>

            <input type='hidden' name='_METHOD' value='delete'/>

            <div class='buttonLayout buttonLayout--right'>
                <button class='button button--red' type='submit'>Supprimer</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}