{% extends "layouts/master.twig" %}

{% block content %}
<h1 class='title title_1 title--bg'>S'inscrire</h1>
<div class='register'>
    <form class='register_form' method='POST'> 

        <div class='form_group'>
            <label for='lastname' class='label'>Nom</label>
            <input type='text' name='lastname' >
        </div>

        <div class='form_group'>
            <label for='firstname' class='label'>Prénom</label>
            <input type='text' name='firstname' >
        </div>

        <div class='form_group'>
            <label for='email' class='label'>Email</label>
            <input type='text' name='email' >
        </div>

        <div class='form_group'>
            <label for='password' class='label'>Mot de passe</label>
            <input type='password' name='password' >
        </div>

        <div class='form_group'>
            <label for='password_confirm' class='label'>Confirmer le mot de passe</label>
            <input type='password' name='password_confirm' >
        </div>
        
        <div class='buttonLayout buttonLayout--right'>
            <button type='submit' class='button button--green'>Inscription</button>
        </div>
    
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}