<footer>
    <div class='footerConditions'>
        <p>Conditions Générales de Vente</p>
        <p>Politique de confidentialité</p>
        <p>Mentions Légales</p>
    </div>
    <p>© 2018 - CORDIER | ROHRBACHER | RALLI | ZINK</p>
</footer>