.detailed_offer{
    flex-grow: 1;
    margin-top: 60px;
    padding: 0 10px;

    @media(max-width: 450px){
        display: flex;
        flex-direction: column;
    }
    
    &_top{
        height: 300px;
        display: flex;
        @media(max-width: 450px){
            flex-direction: column;
            flex-grow: 1;
        }
        
        
        img{
            height: 100%;
            object-fit: cover;
        }

        .wrap{
            flex-grow: 1;
            padding: 0 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @media(max-width: 450px){
                padding: 0;
            }
        }

        &_infos{
            display: flex;
            justify-content: space-between;

            @media(max-width: 450px){
                padding: 0;
                flex-direction: column;
            }

            h2{
                font-size: 1.9em;
            }

            p{
                margin-top: 3px;

                @media(max-width: 450px){
                    align-self: flex-end;
                }
            }

            .price{
                font-size: 1.7em;
            }
        }

        &_add{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            p{
                margin-right: 10px;

                @media(max-width: 450px){
                    margin-top:10px;
                }
            }

            select{
                font-size: 1em;
                margin-right: 10px;
                padding: 10px;

                @media(max-width: 450px){
                    margin-top:10px;
                    border:1px inset lightgray;
                    background-color: white;
                }
            }

        }
    }

    &_description{
        margin-top: 60px;
        @media(max-width: 450px){
            margin-top: 0;
            margin-bottom: 50px;
        }
    }
}