//Offers
.offers {
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap:30px;
    .offer {
        text-decoration: none;
        border: 2px solid $secondary-color;
        padding: 3px;
        color: $primary-color;
        
        img {
            max-width: 100%;
        }

        .offer_info {
            color: $secondary-color;
            display: flex;
            justify-content: space-between;
            padding-right: 15%; 
        }
    }
}