.offers {
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    .offer {
        display: block;
        border: 2px solid $secondary-color;
        
        a {
            color: $primary-color;
            text-decoration: none;

            @media(max-width: 450px){
                display: flex;
                flex-direction: column;
                height: 100%;

            }
        }
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .offer_bottom {
            padding: 10px;

            @media(max-width: 450px){
                flex-grow: 1;
                justify-content: space-between;  
            }
            
            &_infos {
                color: $secondary-color;
                display: flex;
                justify-content: space-between;

                @media(max-width: 450px){
                    flex-direction: column;
                    flex-grow: 1;
                    p:last-of-type{
                        margin-top: 10px;
                        align-self: flex-end;
                    }
                } 
            }
        }
    }
}
.menu_categories{
    margin: 10px auto;
    margin-bottom: 10px;
    padding: 1.2em 1.2em;
    border-radius: 10px;
    color: white;
    width: 70%;
    background-color: $primary-color;
    p {
        display: inline-block;
        margin-right: 10px;
    }
    .cat_list {
        display: none;
        margin: 25px auto;

        a {
            color: white;
            text-decoration: none;
            border: 1px solid white;
            border-radius: 10px;
            padding: 5px 5px;
            margin-right: 10px;
            margin-right: 10px;
        }

        .selected_category{
            color: $secondary-color;
            border-color: $secondary-color;
        }
    }
}

//RESPONSIVE
@media(max-width: 450px){
    .menu_categories{
        text-align: center;
        .cat_list{
            margin-top:10px;
            margin-bottom: 10px;
            a{
                display: inline-block;
                margin-left: auto;
                margin-top: 20px;
            }
        }
    }

    .offers{
        box-sizing: border-box;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 15px;
        width: 90%;
        margin-right: 10px;
        margin-left: 13px;
    }
}

.offers_sort {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_inputs{
        @media(max-width: 450px){
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 10px;
        }
    }

    @media(max-width: 450px){
        flex-direction: column;
    }
}