.offers {
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    .offer {
        display: block;
        text-decoration: none;
        border: 2px solid $secondary-color;
        color: $primary-color;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .offer_bottom {
            padding: 20px;
            &_infos {
                color: $secondary-color;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.tri_categories {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 1.2em 1.2em;
    border-radius: 10px;
    color: white;
    width: 70%;
    background-color: $primary-color;
    p {
        display: inline-block;
        margin-right: 10px;
    }
    .categories {
        display: none;
        margin: 10px auto;
    }
}